.container {
  display: flex;

  gap: 0;

  justify-content: flex-start; 

  align-items: stretch;

  flex-direction: row; 

  flex-wrap: nowrap; 

  align-content: stretch;
}

.search {
  align-self: flex-end;
  flex: 1;
  order: 2;
}

.home {
  align-self: center;
  flex: 1;
}

.login {
  align-self: flex-start;
  flex: 1;
  order: -2;
}
